# Projet LoL coach

In [9]:
import pandas as pd

dataset = pd.read_csv('data/matchData.csv')

df = pd.DataFrame(dataset, columns=dataset.columns)

In [10]:
print(df.head())

print(df.describe())

   dataVersion         matchId endOfGameResult   gameCreation  gameDuration  \
0            2  NA1_5348438296    GameComplete  1755372956560          1682
1            2  NA1_5348419072    GameComplete  1755370753217          1759
2            2  NA1_5345908214    GameComplete  1755055472135          2491
3            2  NA1_5341292117    GameComplete  1754532281603          1973
4            2  NA1_5341241370    GameComplete  1754529263025          2376

   gameEndTimestamp      gameId gameMode                      gameName  \
0     1755374669877  5348438296  CLASSIC  teambuilder-match-5348438296
1     1755372544375  5348419072  CLASSIC  teambuilder-match-5348419072
2     1755057984148  5345908214  CLASSIC  teambuilder-match-5345908214
3     1754534283418  5341292117  CLASSIC  teambuilder-match-5341292117
4     1754531661796  5341241370  CLASSIC  teambuilder-match-5341241370

       gameType  ... team1DragonFirst  team1DragonKills  team1HordeFirst  \
0  MATCHED_GAME  ...             True                 2            False
1  MATCHED_GAME  ...            False                 0             True
2  MATCHED_GAME  ...             True                 4            False
3  MATCHED_GAME  ...             True                 3            False
4  MATCHED_GAME  ...            False                 3            False

   team1HordeKills  team1InhibitorFirst  team1InhibitorKills  \
0                0                False                    0
1                3                False                    0
2                0                 True                    3
3                0                False                    0
4                1                 True                    1

   team1RiftHeraldFirst  team1RiftHeraldKills  team1TowerFirst  \
0                 False                     0            False
1                 False                     0             True
2                  True                     1             True
3                  True                     1            False
4                  True                     1             True

   team1TowerKills
0                2
1                2
2               11
3                5
4                7

[5 rows x 1770 columns]
       dataVersion  gameCreation   gameDuration  gameEndTimestamp  \
count     101843.0  1.018430e+05  101843.000000      1.018430e+05
mean           2.0  1.754234e+12    1681.671102      1.754236e+12
std            0.0  8.890526e+08     434.618782      8.890557e+08
min            2.0  1.752622e+12     100.000000      1.752624e+12
25%            2.0  1.753486e+12    1476.000000      1.753488e+12
50%            2.0  1.754262e+12    1706.000000      1.754263e+12
75%            2.0  1.754998e+12    1926.000000      1.754999e+12
max            2.0  1.755746e+12    4416.000000      1.755747e+12

             gameId     mapId  participant0PlayerScore0  \
count  1.018430e+05  101843.0                  101843.0
mean   5.338820e+09      11.0                       0.0
std    7.432558e+06       0.0                       0.0
min    5.326076e+09      11.0                       0.0
25%    5.332301e+09      11.0                       0.0
50%    5.338759e+09      11.0                       0.0
75%    5.345419e+09      11.0                       0.0
max    5.351672e+09      11.0                       0.0

       participant0PlayerScore1  participant0PlayerScore10  \
count                  101843.0                   101843.0
mean                        0.0                        0.0
std                         0.0                        0.0
min                         0.0                        0.0
25%                         0.0                        0.0
50%                         0.0                        0.0
75%                         0.0                        0.0
max                         0.0                        0.0

       participant0PlayerScore11  ...  team1FeatsEPIC_MONSTER_KILLFeatState  \
count                   101843.0  ...                         101843.000000
mean                         0.0  ...                            220.218474
std                          0.0  ...                            413.092639
min                          0.0  ...                              0.000000
25%                          0.0  ...                              1.000000
50%                          0.0  ...                              2.000000
75%                          0.0  ...                              3.000000
max                          0.0  ...                           1001.000000

       team1FeatsFIRST_BLOODFeatState  team1FeatsFIRST_TURRETFeatState  \
count                   101843.000000                    101843.000000
mean                       503.225386                       450.896576
std                        499.044705                       497.615968
min                          0.000000                         0.000000
25%                          3.000000                         1.000000
50%                       1001.000000                         1.000000
75%                       1001.000000                      1001.000000
max                       1001.000000                      1001.000000

       team1BaronKills  team1ChampionKills  team1DragonKills  team1HordeKills  \
count    101843.000000       101843.000000     101843.000000    101843.000000
mean          0.381008           27.683837          2.018126         1.304400
std           0.580246           12.341250          1.367637         1.333561
min           0.000000            0.000000          0.000000         0.000000
25%           0.000000           19.000000          1.000000         0.000000
50%           0.000000           28.000000          2.000000         1.000000
75%           1.000000           36.000000          3.000000         3.000000
max           4.000000           90.000000          8.000000         3.000000

       team1InhibitorKills  team1RiftHeraldKills  team1TowerKills
count        101843.000000         101843.000000    101843.000000
mean              0.829237              0.396493         5.529020
std               1.138713              0.489171         3.710907
min               0.000000              0.000000         0.000000
25%               0.000000              0.000000         2.000000
50%               0.000000              0.000000         5.000000
75%               1.000000              1.000000         9.000000
max              11.000000              1.000000        17.000000

[8 rows x 1568 columns]

In [11]:
print(df.columns)

Index(['dataVersion', 'matchId', 'endOfGameResult', 'gameCreation',
       'gameDuration', 'gameEndTimestamp', 'gameId', 'gameMode', 'gameName',
       'gameType',
       ...
       'team1DragonFirst', 'team1DragonKills', 'team1HordeFirst',
       'team1HordeKills', 'team1InhibitorFirst', 'team1InhibitorKills',
       'team1RiftHeraldFirst', 'team1RiftHeraldKills', 'team1TowerFirst',
       'team1TowerKills'],
      dtype='object', length=1770)

In [12]:
participants = []
for i in range(10):
    col = [col for col in df.columns if 'participant'+str(i) in col.lower()]
    participants.append(df[col])
    participants[i].columns = participants[i].columns.str.replace('participant'+str(i), '')

participants[0]

,PlayerScore0,PlayerScore1,PlayerScore10,PlayerScore11,PlayerScore2,PlayerScore3,PlayerScore4,PlayerScore5,PlayerScore6,PlayerScore7,...,TurretKills,TurretTakedowns,TurretsLost,UnrealKills,VisionClearedPings,VisionScore,VisionWardsBoughtInGame,WardsKilled,WardsPlaced,Win
0,0,0,0,0,0,0,0,0,0,0,...,2,4,2,0,0,3,0,1,1,True
1,0,0,0,0,0,0,0,0,0,0,...,2,2,2,0,0,17,0,1,9,True
2,0,0,0,0,0,0,0,0,0,0,...,3,4,11,0,0,15,2,1,1,True
3,0,0,0,0,0,0,0,0,0,0,...,3,4,5,0,0,18,1,2,9,True
4,0,0,0,0,0,0,0,0,0,0,...,3,4,7,0,0,29,0,5,14,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101838,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,5,0,0,4,False
101839,0,0,0,0,0,0,0,0,0,0,...,2,3,2,0,0,29,6,1,12,True
101840,0,0,0,0,0,0,0,0,0,0,...,3,3,9,0,0,18,0,1,10,False
101841,0,0,0,0,0,0,0,0,0,0,...,1,4,0,0,0,9,1,1,6,True
101842,0,0,0,0,0,0,0,0,0,0,...,0,1,12,0,0,27,0,7,9,True

In [13]:
print(len(participants[0]))

df = df[[col for col in df.columns if 'participant' not in col.lower()]]
df.describe()

101843

,dataVersion,gameCreation,gameDuration,gameEndTimestamp,gameId,mapId,team0TeamId,team0Ban0ChampionId,team0Ban0PickTurn,team0Ban1ChampionId,...,team1FeatsEPIC_MONSTER_KILLFeatState,team1FeatsFIRST_BLOODFeatState,team1FeatsFIRST_TURRETFeatState,team1BaronKills,team1ChampionKills,team1DragonKills,team1HordeKills,team1InhibitorKills,team1RiftHeraldKills,team1TowerKills
count,101843.0,1.018430e+05,101843.000000,1.018430e+05,1.018430e+05,101843.0,101843.0,101843.000000,101843.0,101843.000000,...,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000,101843.000000
mean,2.0,1.754234e+12,1681.671102,1.754236e+12,5.338820e+09,11.0,100.0,220.472944,1.0,222.349528,...,220.218474,503.225386,450.896576,0.381008,27.683837,2.018126,1.304400,0.829237,0.396493,5.529020
std,0.0,8.890526e+08,434.618782,8.890557e+08,7.432558e+06,0.0,0.0,266.061896,0.0,267.500119,...,413.092639,499.044705,497.615968,0.580246,12.341250,1.367637,1.333561,1.138713,0.489171,3.710907
min,2.0,1.752622e+12,100.000000,1.752624e+12,5.326076e+09,11.0,100.0,-1.000000,1.0,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.0,1.753486e+12,1476.000000,1.753488e+12,5.332301e+09,11.0,100.0,43.000000,1.0,42.000000,...,1.000000,3.000000,1.000000,0.000000,19.000000,1.000000,0.000000,0.000000,0.000000,2.000000
50%,2.0,1.754262e+12,1706.000000,1.754263e+12,5.338759e+09,11.0,100.0,115.000000,1.0,114.000000,...,2.000000,1001.000000,1.000000,0.000000,28.000000,2.000000,1.000000,0.000000,0.000000,5.000000
75%,2.0,1.754998e+12,1926.000000,1.754999e+12,5.345419e+09,11.0,100.0,238.000000,1.0,238.000000,...,3.000000,1001.000000,1001.000000,1.000000,36.000000,3.000000,3.000000,1.000000,1.000000,9.000000
max,2.0,1.755746e+12,4416.000000,1.755747e+12,5.351672e+09,11.0,100.0,950.000000,1.0,950.000000,...,1001.000000,1001.000000,1001.000000,4.000000,90.000000,8.000000,3.000000,11.000000,1.000000,17.000000

In [14]:
team_0 = df[[col for col in df.columns if 'team0' in col.lower()]]
team_1 = df[[col for col in df.columns if 'team1' in col.lower()]]

df = df[[col for col in df.columns if col.lower() not in ['team0', 'team1']]]

team_0.columns = team_0.columns.str.replace('team0', '')
team_1.columns = team_1.columns.str.replace('team1', '')

print(team_0, team_1)
print(df)

        TeamId    Win  Ban0ChampionId  Ban0PickTurn  Ban1ChampionId  \
0          100   True              36             1             350
1          100   True             350             1             106
2          100   True              29             1             103
3          100   True             203             1             111
4          100   True             223             1               1
...        ...    ...             ...           ...             ...
101838     100  False             203             1             360
101839     100   True             254             1              -1
101840     100  False              30             1             526
101841     100   True              35             1              -1
101842     100   True             555             1             238

        Ban1PickTurn  Ban2ChampionId  Ban2PickTurn  Ban3ChampionId  \
0                  2             114             3             111
1                  2               3             3              82
2                  2             517             3              24
3                  2              36             3              53
4                  2              36             3             555
...              ...             ...           ...             ...
101838             2             268             3             432
101839             2             203             3             429
101840             2               3             3             119
101841             2             142             3             799
101842             2             119             3             800

        Ban3PickTurn  ...  DragonFirst  DragonKills  HordeFirst  HordeKills  \
0                  4  ...        False            2        True           3
1                  4  ...         True            4       False           0
2                  4  ...        False            2        True           3
3                  4  ...        False            2        True           3
4                  4  ...         True            3        True           2
...              ...  ...          ...          ...         ...         ...
101838             4  ...        False            0        True           3
101839             4  ...        False            3       False           2
101840             4  ...         True            3       False           0
101841             4  ...         True            2        True           3
101842             4  ...        False            2       False           0

        InhibitorFirst  InhibitorKills  RiftHeraldFirst  RiftHeraldKills  \
0                 True               4             True                1
1                 True               1             True                1
2                False               1            False                0
3                 True               1            False                0
4                False               1            False                0
...                ...             ...              ...              ...
101838           False               0            False                0
101839            True               1             True                1
101840           False               0             True                1
101841            True               1             True                1
101842           False               1             True                1

        TowerFirst  TowerKills
0             True          11
1            False           8
2            False           8
3             True           6
4            False           9
...            ...         ...
101838       False           1
101839        True          10
101840       False           5
101841        True           9
101842       False           5

[101843 rows x 29 columns]         TeamId    Win  Ban0ChampionId  Ban0PickTurn  Ban1ChampionId  \
0          200  False              -1             6             238
1          200  False             114             6             350
2          200  False             555             6             893
3          200  False             350             6             111
4          200  False             111             6             238
...        ...    ...             ...           ...             ...
101838     200   True              84             6             200
101839     200  False             107             6             238
101840     200   True             104             6              -1
101841     200  False             203             6              -1
101842     200  False              36             6              64

        Ban1PickTurn  Ban2ChampionId  Ban2PickTurn  Ban3ChampionId  \
0                  7             234             8              80
1                  7             111             8               9
2                  7             201             8              36
3                  7              30             8             233
4                  7             141             8             161
...              ...             ...           ...             ...
101838             7               2             8             203
101839             7             555             8             804
101840             7             804             8             350
101841             7             200             8             893
101842             7              -1             8             238

        Ban3PickTurn  ...  DragonFirst  DragonKills  HordeFirst  HordeKills  \
0                  9  ...         True            2       False           0
1                  9  ...        False            0        True           3
2                  9  ...         True            4       False           0
3                  9  ...         True            3       False           0
4                  9  ...        False            3       False           1
...              ...  ...          ...          ...         ...         ...
101838             9  ...         True            3       False           0
101839             9  ...         True            1        True           1
101840             9  ...        False            1        True           3
101841             9  ...        False            0       False           0
101842             9  ...         True            3        True           3

        InhibitorFirst  InhibitorKills  RiftHeraldFirst  RiftHeraldKills  \
0                False               0            False                0
1                False               0            False                0
2                 True               3             True                1
3                False               0             True                1
4                 True               1             True                1
...                ...             ...              ...              ...
101838           False               0             True                1
101839           False               0            False                0
101840            True               1            False                0
101841           False               0            False                0
101842            True               7            False                0

        TowerFirst  TowerKills
0            False           2
1             True           2
2             True          11
3            False           5
4             True           7
...            ...         ...
101838        True           7
101839       False           2
101840        True           9
101841       False           0
101842        True          12

[101843 rows x 29 columns]
        dataVersion         matchId endOfGameResult   gameCreation  \
0                 2  NA1_5348438296    GameComplete  1755372956560
1                 2  NA1_5348419072    GameComplete  1755370753217
2                 2  NA1_5345908214    GameComplete  1755055472135
3                 2  NA1_5341292117    GameComplete  1754532281603
4                 2  NA1_5341241370    GameComplete  1754529263025
...             ...             ...             ...            ...
101838            2  NA1_5349322041    GameComplete  1755468756545
101839            2  NA1_5351091353    GameComplete  1755666360316
101840            2  NA1_5347638248    GameComplete  1755279772819
101841            2  NA1_5345518645    GameComplete  1755021349303
101842            2  NA1_5340630201    GameComplete  1754451747461

        gameDuration  gameEndTimestamp      gameId gameMode  \
0               1682     1755374669877  5348438296  CLASSIC
1               1759     1755372544375  5348419072  CLASSIC
2               2491     1755057984148  5345908214  CLASSIC
3               1973     1754534283418  5341292117  CLASSIC
4               2376     1754531661796  5341241370  CLASSIC
...              ...               ...         ...      ...
101838          1343     1755470115384  5349322041  CLASSIC
101839          1731     1755668105047  5351091353  CLASSIC
101840          1636     1755281425510  5347638248  CLASSIC
101841          1127     1755022635151  5345518645  CLASSIC
101842          2371     1754454219779  5340630201  CLASSIC

                            gameName      gameType  ... team1DragonFirst  \
0       teambuilder-match-5348438296  MATCHED_GAME  ...             True
1       teambuilder-match-5348419072  MATCHED_GAME  ...            False
2       teambuilder-match-5345908214  MATCHED_GAME  ...             True
3       teambuilder-match-5341292117  MATCHED_GAME  ...             True
4       teambuilder-match-5341241370  MATCHED_GAME  ...            False
...                              ...           ...  ...              ...
101838  teambuilder-match-5349322041  MATCHED_GAME  ...             True
101839  teambuilder-match-5351091353  MATCHED_GAME  ...             True
101840  teambuilder-match-5347638248  MATCHED_GAME  ...            False
101841  teambuilder-match-5345518645  MATCHED_GAME  ...            False
101842  teambuilder-match-5340630201  MATCHED_GAME  ...             True

        team1DragonKills  team1HordeFirst  team1HordeKills  \
0                      2            False                0
1                      0             True                3
2                      4            False                0
3                      3            False                0
4                      3            False                1
...                  ...              ...              ...
101838                 3            False                0
101839                 1             True                1
101840                 1             True                3
101841                 0            False                0
101842                 3             True                3

        team1InhibitorFirst  team1InhibitorKills  team1RiftHeraldFirst  \
0                     False                    0                 False
1                     False                    0                 False
2                      True                    3                  True
3                     False                    0                  True
4                      True                    1                  True
...                     ...                  ...                   ...
101838                False                    0                  True
101839                False                    0                 False
101840                 True                    1                 False
101841                False                    0                 False
101842                 True                    7                 False

        team1RiftHeraldKills  team1TowerFirst  team1TowerKills
0                          0            False                2
1                          0             True                2
2                          1             True               11
3                          1            False                5
4                          1             True                7
...                      ...              ...              ...
101838                     1             True                7
101839                     0            False                2
101840                     0             True                9
101841                     0            False                0
101842                     0             True               12

[101843 rows x 70 columns]

In [15]:
participants[0]

,PlayerScore0,PlayerScore1,PlayerScore10,PlayerScore11,PlayerScore2,PlayerScore3,PlayerScore4,PlayerScore5,PlayerScore6,PlayerScore7,...,TurretKills,TurretTakedowns,TurretsLost,UnrealKills,VisionClearedPings,VisionScore,VisionWardsBoughtInGame,WardsKilled,WardsPlaced,Win
0,0,0,0,0,0,0,0,0,0,0,...,2,4,2,0,0,3,0,1,1,True
1,0,0,0,0,0,0,0,0,0,0,...,2,2,2,0,0,17,0,1,9,True
2,0,0,0,0,0,0,0,0,0,0,...,3,4,11,0,0,15,2,1,1,True
3,0,0,0,0,0,0,0,0,0,0,...,3,4,5,0,0,18,1,2,9,True
4,0,0,0,0,0,0,0,0,0,0,...,3,4,7,0,0,29,0,5,14,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101838,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,5,0,0,4,False
101839,0,0,0,0,0,0,0,0,0,0,...,2,3,2,0,0,29,6,1,12,True
101840,0,0,0,0,0,0,0,0,0,0,...,3,3,9,0,0,18,0,1,10,False
101841,0,0,0,0,0,0,0,0,0,0,...,1,4,0,0,0,9,1,1,6,True
101842,0,0,0,0,0,0,0,0,0,0,...,0,1,12,0,0,27,0,7,9,True